<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="x-ua-compatible" content="TE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimun-scale=1.0,maximun-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="referrer" content="never">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>推荐</title>
</head>
<body>
        <div class="card mr-2 mb-2" style="width: 18rem;float: left" th:each="recommend:${recommendList}">
            <img th:src="${recommend.img}" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title text-truncate" th:text="${recommend.title}">百词斩·爱阅读</h5>
                <p class="card-text" th:text="${recommend.type}"><small class="text-muted">插画-商业插画</small></p>
            </div>
            <div class="card-body">
                <p class="card-text"><small class="text-muted">👀 1012 | 🗨 6 | 👍 38  </small></p>
            </div>
            <div class="card-body" style="flex-wrap: wrap;display: flex;">
                <img class="mr-2" style="height: 40px;width: 40px;border-radius: 50px" th:src="${recommend.avatar}">
                <p class="card-text mr-2" th:text="${recommend.author}">ZAki_zkl</p>
                <p class="card-text mr-2" ><small class="text-muted" th:text="${recommend.time}">18小时前</small></p>
            </div>
        </div>

</body>
</html>